@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

html {
  scroll-behavior: smooth;
  overflow: auto;
}
.section__info {

  color:#bebebe;
  max-width: 90%;
  margin: 0 auto;
  padding: 7% 0 1% 0;
  flex-direction: column;
    
}

.section__info p {
  text-align: justify;
  padding: 10px 20px;
}


.section__info {

  color:#bebebe;
  max-width: 90%;
  margin: 0 auto;
  padding: 7% 0 1% 0;
  flex-direction: column;
    
}

.section__info > h1 {
  padding: 2%  0 0;
  margin: 0 ;
  text-align: left;
}

body {
  font-family: "Roboto", system-ui;
  font-weight: 400;
  font-size: 16px;
  background-color: rgb(32, 32, 32);
  text-align: justify;
  color:#bebebe;

  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
h1 {
  text-align: center;
  padding: 0 0 30px;
}

main p {
  margin: 0;
  line-height: 1.8;
}

a, a:visited, a:hover {
  color: inherit;
  text-decoration: none;
}

img {
  display: inline-block;
  vertical-align: top;
  max-width: 100%;
  height: auto;
  object-fit: cover;
}

ul {
  list-style: none;
  
}

li {
  display: flex;
  align-items: center;
  justify-content: center;
}

/*------------------index------------------ */

.container {
  max-width:max-content;
    padding: 0 15px;
    margin: 0 auto;
}

.header__container {
  display: flex;
  justify-content:space-between;
  align-items: center;
}

.header__nav ul {
  display: flex;
}

.header__nav li + li {
  margin-left: 40px;
}

.header__nav a {
  font-size: 16px;
  color: #676770;
  transition: color 0.2s;
}

.header__nav a:hover {
  color: #979797;
}

.header__nav a:active {
  color: #000000;
}

.header {
  padding: 10px 0;
  width: 100%;

  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;

  background-color: #e0e0e0;
  box-shadow: 0px 0px 8px rgb(212, 212, 212);
}

.nav {
display: flex;
}

.logo__img {
  width: 100%;
}

.logo {
  max-width: 4%;
}
.main_section {
  
  max-width: 90%;
  padding: 2% 0 0 0;
  margin: 0 auto;
}

.main {
  min-height: 100vh;
}

.main__photo {
    width: 70%;
    border-radius: 100px;
    border: 3px solid #979797;
    box-shadow: 0px 0px 8px rgb(212, 212, 212);
}

.main__info {
    padding: 5% 0 1% 0;
    justify-content: center;
    display: flex;
    align-items: center;
}

.desc {
  padding: 0 0 1%;
}


footer {
  margin-top: auto;
}



.footer__warp {
  clear: both;
  position: relative;
  width: 100%;
  padding: 20px 0;
  background-color: #e0e0e0;
  box-shadow: 0px 0px 8px rgb(212, 212, 212);
  margin-top: 20px;
  display: flex; 
  justify-content: center; 
  align-items: center; 
}

.footer a:hover {
  color: #979797;
}

.footer a:active {
  color: #000000;
}

.footer a {
  font-size: 16px;
  color: #676770;
  transition: color 0.2s;
  padding-right: 2%;
}
.footer p {
  font-size: 16px;
  color: #676770;
  transition: color 0.2s;
}





/* ----------------about------------------- */

.about__img {
  width: 70%;
  margin: auto; 
}

.about__photo {
  border-radius: 100px;
    border: 3px solid #979797;
    box-shadow: 0px 0px 8px rgb(212, 212, 212);
}



/* ------------------Team------------------------ */



.team {
  display: flex; 
  width: 100%; 
  margin-top: 20px; 
  height: 100vh; 
  position: relative; 
  justify-content: space-between;
  position: relative;

  display: flex;
  width: 100%;
  margin-top: 20px;
  height: calc(100vh - 200px); 
  position: relative;
  justify-content: space-between;
}



details {
  width: 350px;
  display: flex;
  flex-direction: column;
  cursor: default;
  border: 3px solid #979797;
  box-shadow: 0px 0px 8px rgb(212, 212, 212);
  border-radius: 2%;
  color: #676770;
  background-color:#bebebe;
  -webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
  display: block;
  clear: both;
  margin: 20px 20px 20px 20px;
}








summary {
  list-style-type: none;
  padding: 10px 25px;
}


details[open] {
  animation: slide 0.2s ease-in-out;
}

@keyframes slide {
  0%    { opacity: 0; transform:  translate(0, -10px); }
  100%  { opacity: 1; transform:  translate(0, 0); }
}

.team ul {
  display: flex;
  flex-direction: column;
}

.team li {
  display: block; 
  text-align: left;
  padding-left: 20px;
  position: relative;
}

.team li:before {
  content: "\25CF"; 
  color: #676770; 
  font-size: 1.2em; 
  position: absolute; 
  left: 0; 
  top: 50%; 
  transform: translateY(-50%); 
}




.team__img {
  width: 50%; 
  height: 100%; 
  border: 3px solid #979797;
  box-shadow: 0px 0px 8px rgb(212, 212, 212);
  border-radius: 15%;
  background-size: cover; 
  margin-left: 10%;
  
}

.team__item {
  margin: 0 auto;
  height: 100%;
  width:400px;
  overflow:auto;
}




.team__img {
  background-image: url('/img/dotateam_bg.jpg');
}

.team__img.open-RADDAN {
  
  background-image: url('./img/raddan.jpg');
}

.team__img.open-LARI {
  background-image: url('./img/larl.jpg');
}

.team__img.open-COLLAPSE {
  background-image: url('./img/colapse.jpg');
}

.team__img.open-MIRA {
  background-image: url('./img/mira.jpg');
}

.team__img.open-MIPOSHKA {
  background-image: url('./img/miposhka.jpg');
}

.team__img.open-SILENT {
  background-image: url('./img/silent.jpg');
}

.team__img.open-KORB3N {
  background-image: url('./img/korb3n.jpg');
}

.team__img.open-DKLANA {
  background-image: url('./img/dklana.jpg');
}

.team__img.open-SIKLE {
  background-image: url('./img/sikle.jpg');
}





/* -----------------blog----------------- */

.art__photo {
  width: 40%;
  border-radius: 50px;
  margin: auto;
}

.post {
    display: flex;
    flex-direction: column;
    border-radius: 50px;
    border: 3px solid #979797;
    text-align: center;
    margin-bottom: 1%;
    box-shadow: 0px 0px 8px rgb(212, 212, 212);
}




/* --------------------partners-------------- */

.grid__partners {
  display: flex;
  justify-content: center;
  margin-top: 5%;
}

.partners img {
  max-width: 97%;
  box-shadow: 0px 0px 8px rgb(212, 212, 212);
  border-radius: 5%;
}

.partners a:hover {
  transform: scale(1.055);
  transition: 0.5s;
  
}

.partners a {
  transform: scale(1);
  transition: 0.5s;
}
  

.partners {
  display: grid;
  grid-template-columns: 400px 400px;
  grid-template-rows: 400px 400px;
  
}

.partners li {
  padding: 5px;
}


/* -----------------contacts----------------- */

.contacts__item img {
  width: 35px;
  height: 25px;
  background-color: #e0e0e0;
  box-shadow: 0px 0px 8px rgb(212, 212, 212);
  
}

.section__contacts {
    max-width: 90%;
    padding: 7% 0 1% 0;
    margin: 0 auto;

}
.section__contacts {
  text-align: center;
}

.section__contacts h1 h2{
  font-size: 40px;
}

.contacts {
  display: flex;
  padding: 2%;
}

.contacts__item {
  width: 50px;
  height: 50px;
  background-color: #e0e0e0;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 3px solid #979797;
  border-radius: 10px;
  box-shadow: 0px 0px 8px rgb(212, 212, 212);
  margin-left: 5px;
  transform: scale(1);
  transition: 0.5s;
}



body .contacts {
  text-align: justify;
  justify-content:center;
}

.contacts__item:hover {
  transform: scale(1.1);
  transition: 0.5s;
}

.mail {
  display: grid;
  grid-template-columns: 200px 100px;
  grid-template-rows: 30px 30px;
  justify-content: center;
  margin-right: 6%;
  margin-bottom: 1%;
}


#contact-form {
  max-width: 400px;
  margin: 0 auto; 
  padding: 20px;
  background-color: rgb(32, 32, 32);
  border: 1px solid #e0e0e0;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#contact-form label {
  display: block;
  margin-bottom: 10px;
  
}

#contact-form input[type="text"], #contact-form input[type="email"], #contact-form textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #e0e0e0;
  background-color: rgb(32, 32, 32);
  color:#e0e0e0 ;
}
#contact-form textarea {
  height: 150px;
}

#contact-form input[type="submit"] {
  background-color: #e0e0e0;
  color: rgb(32, 32, 32);
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 400px;
}

#contact-form input[type="submit"]:hover {
  background-color: rgb(131, 129, 129);
  color: #e0e0e0;
}

.name-surname-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.field-column {
  display: flex;
  flex-direction: column;
}

.field-column label {
  margin-bottom: 10px;
}

.field-column input[type="text"] {
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #e0e0e0;
  background-color: rgb(32, 32, 32);
  color: #e0e0e0;
}





